@import './colors.scss';

.loglist
{
  #logDate
  {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0px;
  }

  #logChange
  {
    text-align: center;
    margin-top: 0px;
    .logChange
    {
      min-width: 40px;
      display: inline-block;
    }
  }


  .mealsSection
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

  }

}
