@import './colors.scss';

.loglist
{
  >h1, >h2
  {
    text-align: center;
  }



  >h1
  {
    margin-top: 1%;
  }

  >h2
  {
    color: $brand-dark;
  }

  .mealsSection
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

  }

}
