@import './colors.scss';

.App
{
  @import url('https://fonts.googleapis.com/css?family=Raleway:500,600,800&display=swap');
  font-family: 'Raleway', sans-serif;

  max-width: 1024px;
  margin: auto;


}
