.loglist
{

  .mealsSection
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

  }

}
